<div class="user-info">
  <ul>
    <li>
      <%= content_tag :strong, current_user.name %>
    </li>
  
    <li>
      <%= content_tag :small, '@'+current_user.username %>
    </li>
  </ul>
  
  <%= image_tag 'standing_at_lake.jpg', width: 50 %>
  <!--<img src="/assets/images/standing_at_lake.jpg" width="50">-->
</div>

<div class="stats">
  <table>
    <thead>
      <tr>
        <th># Posts</th>
        <th># Follows</th>
        <th># Followers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= content_tag :h4, TextPost.count %>
        </td>
        <td>
          <%= content_tag :h4, current_user.follows.count %>
        </td>
        <td>
          <%= content_tag :h4, Follow.where(:following_id => current_user.id).count %>
        </td>
    </tbody>
  </table>
</div>
