<!DOCTYPE html>
<html>
<head>
  <title>Tumblful</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <a class="nav-logo-link page-title" href="/">
    <h1 class='pull-left'>Tumblful</h1>
  </a>
  <%= button_to("Sign out", destroy_user_session_path, :method => :delete, :class => "pull-right") if user_signed_in? %>

  <div id="nav-links">
    <div><%= link_to "Image Links", image_links_path %></div>
    <div><%= link_to "Video Links", video_links_path %></div>
    <div><%= link_to "Text Posts", text_posts_path %></div>
    <div><%= link_to "Follows", follows_path %></div>
  </div>

</nav>

<% if current_user %>
<div id="left-nav">
  <%= render :partial => 'shared/left_nav' %>
</div>
<% end %>

<div id="main-content">
  <%= notices %>
  
  <%= yield %>
</div>
</body>
</html>
